name: DevSecOps Pipeline
on: [push]

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push Image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/test-app:latest .
          docker push ghcr.io/${{ github.repository }}/test-app:latest
